/* Import Dosis Font From Google Font */
@import url('https://fonts.googleapis.com/css?family=Dosis:200,600&display=swap');

*, *:after, *:before{
    box-sizing: border-box;
}

body, html{
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    font-family: 'Dosis', Arial, sans-serif;
    color: #fff;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#cinematic-heading{
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 14px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
}

#cinematic-heading span{
    display: inline-block;
    perspective: 1000px;
    transform-origin: 50% 50%;
}

#cinematic-heading span span{
    display: inline-block;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    animation: OpeningSequence 5.2s linear forwards;
}

@keyframes OpeningSequence{
    0%{
        text-shadow: 0 0 50px #fff;
        letter-spacing: 80px;
        opacity: 0.2;
        transform: rotateX('-90deg');
    }
    50%{
        text-shadow: 0 0 1px #fff;
        letter-spacing: 14px;
        opacity: 0.8;
        transform: rotateY('0deg');
    }
    100%{
        text-shadow: 0 0 1px #fff;
        opacity: 1;
        transform: rotateY('0deg') translateZ(0);
    }
}